$bordercolor:#f5f5f5;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3F3F3F !important;
    //text-shadow: 1px 2px 10px #3F3F3F;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 1px solid $bordercolor;
    border-radius: 50px;
    box-shadow: 0 0 1px 0 rgba(8, 11, 14, 0.06), 0 16px 16px -1px rgba(8, 11, 14, 0.1);
}

.button:hover {
    filter: brightness(97%);
    border: 1px solid lighten($bordercolor, 50%);
    color: black !important;
    //text-shadow: 1px 2px 10px #3F3F3F;
}
