@import "../../../Styles/variables";

.container {
    width: inherit;
    padding: 10px 5px;
}

.container:hover{
    filter: brightness(97%);
    border: 1px solid lighten($border_color, 50%);
    border-radius: 25px;
    color: black !important;
    box-shadow: $box_shadow;
    cursor: pointer;
}

