@import '../../Styles/variables';

.card {
    color: #3F3F3F !important;
    //text-shadow: 1px 2px 10px #3F3F3F;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    max-height: 200px;
    background-color: white;
    border: 1px solid $border_color;
    border-radius: 25px;
    box-shadow: $box_shadow;
    margin: 25px;
}

.card:hover {
    filter: brightness(97%);
    border: 1px solid lighten($border_color, 50%);
    color: black !important;
    //text-shadow: 1px 2px 10px #3F3F3F;
}

.image {
    max-width: 170px;
    height: 200px;
    border-radius: 25px 0px 0px 25px;
}

.content {
    margin: 20px 10px;
}

.title {
    text-align: left;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
}

.description {
    width: 100%;
    text-align: left;
}