@import '../../Styles/variables';

.container {
    position: relative;
    width: 200px;
}

.input{
    border-radius: 5px;
    background-color: white;
    border: 1px solid $border_color;
    border-radius: 25px;
    box-shadow: $box_shadow;
}

.input_field {
    border: none;
    margin: 5px 5px;
}

.input:focus {
    outline: none !important;
}